html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.score {
  margin-top: 0;
}

.new-game-button {
  align-self: center;
  margin-bottom: 1%;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}

.display-none {
  display: none;
}
